@import 'primeicons/primeicons.css';


* {
  margin: 0;
  padding: 0;
  font-weight: normal;
}

header {
  font-family: Ubuntu, sans-serif;
}

@media (hover: hover) {
  a:hover {
    font-weight: bold;
  }
}

@media (min-width: 1024px) {
 
}
